.cm-menu-wrapper ul.row-fluid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    width: auto;
    float: right;
    padding-right: 50px;
}

.cm-menu-wrapper ul li {
    float: left;
}

.cm-menu-wrapper ul li a {
    padding: 10px 60px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    transition: all 300ms linear;
}

.cm-menu-wrapper ul li a:hover {
    color: #ff9933;
}

.cm-donate-cont {
    width: 10%;
    float: left;
}

.cm-donate-btn {
    display: block;
    padding: 5px 15px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin-top: 4px;
}

.cm-donate-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    transition: all 300ms ease;
    background-color: #f86f2d;
}

.cm-donate-btn:hover:after {
    width: 100%;
}

.cm-donate-btn span {
    position: relative;
    z-index: 10;
}